@model LoginModel

@{
    ViewData["Title"] = "Log in - Admin";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <section>
            <form id="account" asp-controller="Login" asp-action="Admin" method="post">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <partial name="_LoginFormPartial" model="@Model" />
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
