@using APFood.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<APFoodUser> SignInManager
@inject UserManager<APFoodUser> UserManager

@{
    ViewData["Title"] = "APFood";
}

<div class="text-center">
    <h1 class="display-4">Welcome to APFood</h1>
</div>
