@using APFood.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<APFoodUser> SignInManager
@inject UserManager<APFoodUser> UserManager

@{
    ViewData["Title"] = "APFood";
}

<style>
    body {
        background-image: url('@Url.Content("~/img/APFood.png")');
        background-size: fill;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .content-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .btn-login {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }

    footer {
        background-color: #f8f9fa;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="content-wrapper">
    <a href="~/Login/Customer" class="btn-login">Login to Order Food</a>
</div>